---
layout: default
excerpt: Developer Experience and Relations Leader, Team Builder and Advisor
tags: Developer Relations, Developer Experience, Team Building, DevRel, DevEx
---

{% for post in paginator.posts %}
<article class="box post">

  <header class="style1">
    <a href="{{ post.url }}">
      <h2>{{ post.title }}</h2>
    </a>
    <div class="post-date">{{ post.date | date_to_string }}</div>
  </header>

  <div class="posts-list">
    {% if post.thumb %}
    <a href="{{ post.url }}" title="{{ post.title }}">
      <img class="post-list-thumb" src="{{ post.thumb }}" alt="{{ post.title }} preview image" />
    </a>
    {% endif %}
    <p>{{ post.excerpt | strip_html }}</p>
    <p><a href="{{ post.url }}" title="{{ post.title }}">Read more...</a></p>
  </div>

</article>
{% endfor %}

<hr />

<div class="pagination">
  {% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% else %}
  <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
  <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
  <span class="next ">Next</span>
  {% endif %}
</div>
