<section class="box">

  <img class="avatar grav-hashed grav-hijack" src="http://www.gravatar.com/avatar/ecc56977271e781991b6172c16248459?s=400" align="center" alt="Phil Leggetter - Realtime Web Technology Evangelist" id="grav-ecc56977271e781991b6172c16248459-0" originals="200" width="200" height="200" src-orig="http://www.gravatar.com/avatar/ecc56977271e781991b6172c16248459?s=200" scale="2" style="margin: auto; margin-bottom: 2em; display: inherit;">
  <p>My name is <strong>Phil Leggetter</strong>. I'm a Developer Evangelist at <a href="http://www.caplin.com">Caplin Systems</a> where I'm a member of the <a href="http://bladerunnerjs.org">BladeRunnerJS</a> open source project team.</p>

  <p>I'm the co-author of the APress title "<a href="http://realtimewebapps.com">Realtime Web Apps</a>" and I frequently write articles for other sources (<a href="http://www.leggetter.co.uk/contact-me">get in touch</a>). My passions include developer experience and productivity, APIs, customer service and <a href="http://www.leggetter.co.uk/real-time-web-technologies-guide">Realtime Web Technologies</a>.</p>

</section>
