<section class="box about">
  <img
    class="avatar grav-hashed grav-hijack"
    src="https://www.gravatar.com/avatar/ecc56977271e781991b6172c16248459?s=400"
    align="center"
    alt="Phil Leggetter - Realtime Web Technology Evangelist"
    id="grav-ecc56977271e781991b6172c16248459-0"
    originals="200"
    width="200"
    height="200"
    src-orig="https://www.gravatar.com/avatar/ecc56977271e781991b6172c16248459?s=200"
    scale="2"
    style="margin: auto; margin-bottom: 2em; display: inherit"
  />
  <p>
    My name is <strong>Phil Leggetter</strong>. I'm Head of PLG and DevRel at <a href="https://hookdeck.com?ref=leggetter">Hookdeck</a>, an Event Gateway for event-driven applications.</p>
    <p>I'm a hands-on Developer
    Experience, Developer Relations, Developer Marketing, and PLG (Product-Led
    Growth) Leader and Advisor. I'm currently advising
    <a href="https://crosser.io">Crosser</a>.
  </p>
</section>
