<div id="header">

  <!-- Logo -->
  <div id="logo">
    <h1><a href="/">Phil Leggetter</a></h1>
    <p>Developer Experience and Relations Leader, Team Builder &amp; Advisor. On the lookout for <a style="font-weight: 900; font-size: 1.1em; color: white;" href="/2021/11/22/my-next-role.html">my next role</a></p>
  </div>

  <!-- Nav -->
  <nav id="nav">
    <ul>
      <li class="current"><a href="/"><img class="logo-sml" src="/images/leggetter-logo-trans-sml.png" title="Phil Leggetter - Home" alt="Phil Leggetter logo" /></a></li>
      <li>
        <a href="/aaarrrp" title="The AAARRRP Developer Relations Strategy Framework">AAARRRP</a>
      </li>
      <li>
        <a href="/real-time-web-technologies-guide/">Realtime Web Guide</a>
        <ul>
          <li><a href="/real-time-web-technologies-guide">Realtime Web Technology Guide</a></li>
          <li><a href="/2013/10/28/history-background-benefits-use-cases-realtime.html">History, Background, Benefits &amp; Use Cases of Realtime</a></li>
          <li><a href="/2013/10/31/fundamentals-realtime-web-realtime-web-functionality.html">Fundamentals of the Realtime Web & Realtime Web Functionality</a></li>
          <li><a href="/2013/12/09/choosing-realtime-web-app-tech-stack.html">Choosing your Realtime Web App Tech Stack</a></li>
          <li><a href="/real-time-web-technologies-guide/developer-tools/">Developer Tools</a></li>
          <li><a href="/real-time-web-technologies-guide/realtime-hosted-service-latency/">Realtime Hosted Service Latency Stats</a></li>
          <li><a href="/real-time-web-technologies-guide/realtime-data-sources/">Realtime Data Sources</a></li>
          <li><a href="/real-time-web-technologies-guide/realtime-web-technology-transport-mechanisms/">Transport Mechanisms</a></li>
        </ul>
      </li>
      <li><a href="/about-phil-leggetter/">About Phil Leggetter</a>
        <ul>
          <li><a href="/leggetter-family-tree">The Unique Name of Leggetter</a></li>
          <li><a href="/mygoffice">My Goffice</a></li>
        </ul>
      </li>
      <li><a href="#contact-me">Contact Me</a></li>
    </ul>
  </nav>

</div>
