Found 202 people in the genealogy file
After filtering: 202 valid people

✗ Philip Robert Leggetter not found
  Found 4 other Philip(s):
    - Peter Philip Leggetter
    - Philip H Leggetter
    - Philip Peter Leggetter
    - Philip R Leggetter

Generated family tree HTML

Statistics:
  Total people: 202
  With birth dates: 133
  With death dates: 47
  With life dates: 202
  Total marriages: 132

Sample Leggetter entries:
  Adrian John Leggetter (ID: 168)
    Born: 1967, Wakefield
    1967 - ???
  Alan? Leggetter (ID: 74)
    ??? - ???
  Albert Edward Leggetter (ID: 188)
    Born: 8 MAR 1869, 29 Chippenham Mews, Paddington
    8 MAR 1869 - 1931
  Albert Edward C Stanley Leggetter (ID: 18)
    Born: 29 MAR 1916, Luton
    29 MAR 1916 - 1984
  Alice Emily Leggetter (ID: 201)
    Born: 1898
    1898 - 1899
  Andrew J Leggetter (ID: 60)
    Born: Northampton
    ??? - ???
  Anne Frances Leggetter (ID: 6)
    Born: 29 JUL 1845, Merton, Mitcham, Surrey
    29 JUL 1845 - ???
  Annie Frances Leggetter (ID: 12)
    Born: 1882, Sevenoaks
    1882 - 1885
  Arthur William Leggetter (ID: 16)
    Born: 1910, Ampthill
    1910 - ???
  Barry H Leggetter (ID: 62)
    Born: 1943, Luton
    1943 - ???
